html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /* Prevents side-to-side wiggling on mobile */
}





@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-arctic-powder: #F1F6F4;
  --color-forsythia: #FFC801;
  --color-nocturnal: #114C5A;
  --color-mystic-mint: #D9E8E2;
  --color-deep-saffron: #FF9932;
  --color-oceanic-noir: #172B36;
  
  /* Custom Animation Easing */
  --ease-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Basic reset to keep the layout clean */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-oceanic-noir);
  color: var(--color-arctic-powder);
}